* {
  user-select: none;
}

.map {
  transition: all .3s ease-out;
  cursor: pointer;

  &:hover {
    fill: #1dff00;
  }
}

.game-window {
  background-color: #8ea7e6;
}

.overlay {
  background-color: white;
  opacity: 0.6;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;

}

.overlay-content {
  text-align: center;
  z-index: 2;

  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;

  font-size: 64px;

  .result-point {
    font-size: 96px;
  }
}

.prefecture-question {
  position: absolute;
  top: 30%;
  left: 30%;
  font-size: 48px;
}

.point {
  position: absolute;
  font-size: 48px;
  top: 64px;
  left: 100px;
}

.timer {
  position: absolute;
  top: 4px;
  left: 8px;
  font-size: 48px;
}

.correct-or-incorrect {
  font-size: 48px;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 200px);

  &.correct {
    color: blue;
  }

  &.incorrect {
    color: red;
  }
}

.map-container {
  text-align: center;
  position: relative;
}

@media (orientation: landscape){
  // デバイスが横向きの場合の記述
  .map-container {
    height: 100vh;

    svg {
      height: 100%;
    }
  }
}

@media (orientation: portrait){
  // デバイスが縦向きの場合の記述
  .map-container {
    width: 100vw;

    svg {
      width: 100%;
    }
  }
}